<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://localhost:4200">
                        Admin UI
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}},
            <a href="http://localhost:4200" target="_blank">Admin UI</a>
        </div>
    </div>
</footer>
