<!-- 
<app-mapper></app-mapper>
<div id="mapper">
    <div *ngIf="loading; else dataMapper">
    loading... {{loading}}
    {{dataMapper}}
  </div>
<div>
    <ng-template #dataMapper>
    <app-mapper
      [documentId]="documentId"
      [inputDocuments]="inputDocuments"
      [outputDocument]="outputDocument"
      [initialMappings]="initialMappings"
      
      (outputMappings)="onMappings($event)"
    ></app-mapper>
</ng-template>
</div> -->



<div id="map">

    <app-data-mapper
      [documentId]="documentId"
      [inputDocuments]="inputDocuments"
      [outputDocument]="outputDocument"
      [initialMappings]="initialMappings"
      (outputMappings)="onMappings($event)"
    ></app-data-mapper>

</div>
